nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: 100%;

  position: fixed;
  left: 0;
  bottom: 0;

  color: #eee;
}

nav a {
  text-decoration: none;
  font-family: "Staatliches";
}
